pip >= 7.0.0
biplist
construct == 2.8.10
enum34
kaitaistruct
# warning: PyPI provides the experimental version
# libewf-python
lz4
pkipplib
# warning: failing due to missing liblzfse header files
# See: https://github.com/dimkr/pylzfse/issues/4
# pylzfse
pytsk3
tzlocal
xlsxwriter
