anytree
biplist
construct==2.10.70
cryptography
kaitaistruct
libewf-python
libvmdk-python
lz4
nska_deserialize==1.5.1
pillow
plistutils
pybindgen==0.21.0
pycryptodome
pyliblzfse
pytsk3==20230125
setuptools
xlsxwriter
other_dependencies/pyaff4-0.31-yk-20240511.zip
